<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <title>@ViewData["Title"] - CronogramaSenac</title> *@
    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CronogramaSenac.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/solid.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/regular.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.css" />
</head>

<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <script>
        function toggleSenha(id) {
            const input = document.getElementById(id);
            input.type = input.type === "password" ? "text" : "password";
        }
    </script>
</body>

</html>