@model Usuario
@{
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div>
    <h1>Tela de Cadastro de Usuário</h1>
    
    @*Formulário de cadastro de Usuario*@
    <form method="POST" asp-action="CadastrarUsuario" asp-controller="Cadastro">
        <div class="form-control">
            <label for="nome">Nome do usuário</label>
            <input type="text" name="Nome">
        </div>
        <div class="form-control">
            <label for="Email">Email do usuário</label>
            <input type="text" name="Email">
        </div>
        <div class="form-control">
            <label for="Senha">Senha do usuário</label>
            <input type="Password" name="Senha">
        </div>
        <div class="form-control">
            <select class="form-select" name="TipoUsuarioId">
            <option>Selecione um tipo de usuário</option>
                    @foreach(TipoUsuario usuario in ViewBag.ListaTiposUsuarios)
                    {
                        <option value="@usuario.Id">@usuario.Tipo</option>
                    }
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>

    <img src="./img/senac.jpg" />
</div>

<style>

</style>